@import url("reset.css");
html{
    scroll-behavior: smooth;
}
body{
    background-color: #DEF0C6;
    font-family: 'Noto Sans TC', sans-serif;
}
.header {
    /* width: 100%; */
}



/* <!-- 導覽列 --> */
.nav-top {
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

/* <!-- 導覽列左邊 --> */

.nav1 {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(0deg, #2e6603 0%, #1E380D 30%, #0F1A11 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    overflow: hidden;
    letter-spacing: 2px;    
}

.nav1 li {}
/* -----hover----- */
.nav1 li a:hover{
    color: #94E30F;
}
/* ------------- */
.nav1 li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    /* border: 1px solid purple; */
    padding: 20px 20px;
    transition: 0.7s;
}

.nav1 li a img {
    width: 50px;
}

/* <!-- 導覽列右邊 --> */
.nav2 {
    /* width: 300px; */
    display: flex;
    position: absolute;
    top: 45px;
    right: 50px;
    transform: translateY(-50%);    
}

.nav2 li {}

.nav2 li a {
    padding: 20px 0;
    display: block;
    width: 50px;
    text-align: center;
    overflow: hidden;
}

.nav2 li a img{
    width: 20px;
    height: 20px;
}

/* -----hover------ */
.nav2 li a img:hover{
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -100px;
}
/* -------------- */

.banner1 {
    width: 100%;
    display: block;
    position: relative;
}

.banner1 img{
    display: block;
    width: 100%;
    margin-top: 90px;
    /* max-width: 1250px; */
    /* transform:translateX(-3%) */
}

/* banner文字 */
.h2-banner {
    padding-left: 40px;
    padding-right: 30px;
    position: absolute;
    top: 50vh;
    right: 3vw;
    letter-spacing: 2px;
    width: 40vw;
}

.span1 {
    color: #94E30F;
    font-size: 3vw;
    margin-bottom: 20px;
    /* width: 200px; */
}

.span1::before{
    content: "";
    display: block;
    height: 15vh;
    width: 10px;
    background-color: #94E30F;
    position: absolute;
    top: 0;
    left: -10px;
}

.span2 {
    color: white;
    font-size: 1vw;
    line-height: 1.4;  
}

.span2::after{
    content: "";
    display: block;
    height: 15vh;
    width: 1px;
    background-color: #94E30F;
    position: absolute;
    bottom: 0;
    right: -10px;
}

/* ------bodytop----- */
.body-top{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* 第一個插件 */
.body-top-banner1{
    position: relative;
}

.body-top-banner1 img{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -10%; 
    
}

/* 中間ul */
.body-top ul{
    /* width: 1250px; */
    display: flex;
    padding-top: 200px;
    justify-content: center;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* border: 1px solid red; */
}

.body-top ul li{   
    width: 20vw;
    /* margin: 0 auto; */
    margin: 0 40px;
    /* border: 1px solid blue; */
    text-align: center;
    position: relative;
    /* transition: 0.8s; */
}

.body-top ul li h3{
    /* display: block; */
    display: flex;
    justify-content: center;
    position: absolute;
    top: 18%;
    left: 35%;
    /* text-align: center; */
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 3vw;
    /* margin-bottom: 30px; */
    letter-spacing: 2px;
    z-index: 1;
    /* border: 1px solid red; */
    display: none;
    
    
}
/* ------hover------ */
.body-top ul li:hover h3{
    display: block;
}
/* ------------- */
.body-top ul li img{
    display: block;
    width: 20vw;
    margin-bottom: 50px;
    border-radius: 50%;
    /* border: 1px solid red; */
    overflow: hidden;
    transition: 0.8s;
}
/* ------hover------ */
.body-top ul li:hover img{
    transform: scale(1.2);
}
/* ----------- */
.body-top ul li h4{
    color: #517C09;
    font-size: 23px;
    /* text-align: left; */
    line-height: 1.4;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.body-top ul li p{
    text-align: left;
    color: #73B20A;
    /* width: 95%; */
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 2px;
    padding: 0 10px;
}

/* ul下方物件 */
.body-top .object1{
    position: relative;
}

.body-top .object1 img{
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    translate: -150% -20%; 
}

/* banner2 */
.body-top .body-top-banner2{
    /* position: relative; */
}

.body-top .body-top-banner2 img{
    display: block;
    width: 80vw;
    margin: 0 auto;
    margin-top: 70px;
}

/* banner2下方物件 */
.body-top .object2{
    position: relative;
    /* border: 1px solid red; */
}

.body-top .object2 img{
    display: block;
    width: 50%;
    position: absolute;
    top: 0%;
    right: 10%;
    z-index: -1;
    translate: 15% -50%;
}

/* ---------bodybottom------- */

.body-bottom{
    width: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
}

/* bottombanner1 */

.body-bottom1{
    /* width: 950px; */
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 180px;
    /* border: 1px solid blue; */
}

.body-bottom1 li{
    /* width: 100%; */
    /* border: 1px solid red; */
    margin: 0 20px;
}

.body-bottom1 li:nth-child(2){
    /* width: 800px; */
    /* padding-top: 80px; */
    margin-left: 100px;
}

.body-bottom1 li img{
    width: 40vw;
    border-radius: 10px;
}

.body-bottom1 li h4{
    color: #517C09;
    font-size: 1.8vw;
    border-bottom: 1px solid #517C09;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.body-bottom1 li p{
    color: #73B20A;
    font-size: 1.2vw;
    line-height: 1.4;
    letter-spacing: 2px;
}

/* bottombanner2 */
.body-bottom2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 120px; */
    width: 90vw;
    margin: 120px auto 0;
    /* border: 1px solid red; */
}

.body-bottom2 li{
    margin: 0 20px;
}

.body-bottom2 li:nth-child(1){
    /* width: 600px; */
    margin-right: 100px;
    /* padding-top: 50px; */
    
}

.body-bottom2 li h4{
    color: #517C09;
    font-size: 1.8vw;
    border-bottom: 1px solid #517C09;
    line-height: 1.4;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.body-bottom2 li p{
    color: #73B20A;
    font-size: 1.2vw;
    line-height: 1.4;
    letter-spacing: 2px;
}

.body-bottom2 li img{
    display: block;
    border-radius: 10px;
    width: 40vw;
    /* border: 1px solid red; */
}

/* bottom-object3 */
.object3{
    position: relative;
    
}

.object3 img{
    display: block;
    width: 70vw;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 100% -20%;
    z-index: -1;
}

/* 底層回到最上物件 */
.bottom-object{
    text-align: center;
    width: 100%;
    margin-top: 150px;
}

.bottom-object .bottom-obj6{
    position: relative;
    text-decoration: none;
    width: 300px;
    margin: 0 auto;
}

.bottom-object .bottom-obj6 img{
    display: block;
    margin: 0 auto;
    /* width: 100%; */
}

/* -----hover------ */
.bottom-object .bottom-obj6:hover p{
    color: white;
}
/* ------------- */

.bottom-object .bottom-obj6 p{
    font-size: 24px;
    font-weight: bold;
    color: #517C09;
    position:absolute ;
    top: 45px;
    left: 124px;
    transition: 0.8s;
}

.bottom-object .bottom-obj7{}

.bottom-object .bottom-obj7 img{
    display: block;
    width: 100%;

}

/* ----footer---- */
.footer{
    background-image: url("../img/footer.jpg");
    display: block;
    /* height: 482px; */
    width: 100%;
    /* height: 100%; */
    /* width: 99vw; */
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .footer-top{
    position: relative;
    justify-content: center;
    display: flex;
    /* transform:translate(-200px); */
    /* border: 1px solid blue; */
}

/* 左邊logo區塊 */
.footer-top .main-left{
    /* position: absolute;
    top: 10%;
    left: 20%; */
    margin-left: -200px;
    margin-top: 150px;
    text-align: center;
    /* border: 1px solid red; */
}
.footer-top>.main-left>a>img{
    margin-bottom: 20px;
    width: 8vw;
}

.footer-top .main-left .main-left-icon{
    display: flex;
    /* border: 1px solid red; */
}

.main-left-icon a{
    display: block;
    overflow: hidden;
    width: 3vw;
    /* height: 50px; */
    /* margin: 0 auto; */
}

.main-left-icon a img{
    display: block;
    width: 2vw;
    margin: 0 auto;
}

/* -----hover------ */
.main-left-icon img:hover{
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -44px;
}
/* -------------- */

.footer-top .main-left .main-left-icon img{
    /* padding: 10px; */
}

/* 右邊導覽列 */
.footer-top .main-right{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}
.footer-top .main-right ul{}
/* 品牌故事 */
.main-right1{}

.main-right1::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right1 a:hover{
    color: #94E30F;
}
/* ------ */

.main-right a{
    font-size: 1vw;
}

.main-right1 a{
    text-decoration: none;
    color: white;
    display: block;
}

/* 最新消息 */
.main-right2{
    margin-left: 40px;
}

.main-right2::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right2 a:hover{
    color: #94E30F;
}
/* ------ */

.main-right2 a{
    text-decoration: none;
    color: white;
    display: block;
}

/* 所有商品 */
.main-right3{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.main-right3 :nth-child(1)::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right3 a:hover{
    color: #94E30F;
}
/* ------ */

.main-right3 a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    display: block;
}

/* 門市資訊 */
.main-right4{
    margin-left: 40px;
}

.main-right4::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right4 a:hover{
    color: #94E30F;
}
/* ------ */

.main-right4 a{
    text-decoration: none;
    color: white;
    display: block;
}

/* 線上購物 */
.main-right5{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.main-right5 :nth-child(1)::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right5 a:hover{
    color: #94E30F;
}
/* ------ */

.main-right5 a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    display: block;
}

/* 底層文字 */
.footer-bottom{
    
    /* border: 1px solid red; */
    width: 100%;
    /* margin-bottom: 20px; */
}

.footer-bottom p{
    color: white;
    text-align: center;
    font-size: 0.8vw;
    letter-spacing: 2px;
    padding: 20px 0;
    line-height: 1.2;
    /* border: 1px solid blue;    */
}