@import url("reset.css");
body{
    background-color: #DEF0C6;
    font-family: 'Noto Sans TC', sans-serif;
}
.header {}

.banner1 {
    width: 100%;
    display: block;
}

/* <!-- 導覽列 --> */
.nav-top {
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    /* border: 4px solid red; */
}

/* <!-- 導覽列左邊 --> */

.nav1 {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(0deg, #2e6603 0%, #1E380D 30%, #0F1A11 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    overflow: hidden;
    letter-spacing: 2px;
}

.nav1 li {}

/* -----hover----- */
.nav1 li a:hover {
    color: #94E30F;
}

/* ------------- */
.nav1 li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    /* border: 1px solid purple; */
    padding: 20px 20px;
    transition: 0.7s;
}

.nav1 li a img {
    width: 50px;
}

/* <!-- 導覽列右邊 --> */
.nav2 {
    /* width: 300px; */
    display: flex;
    position: absolute;
    top: 45px;
    right: 50px;
    transform: translateY(-50%);
}

.nav2 li {}

.nav2 li a {
    padding: 20px 0;
    display: block;
    width: 50px;
    text-align: center;
    overflow: hidden;
}

.nav2 li a img {
    width: 20px;
    height: 20px;
}

/* -----hover------ */
.nav2 li a img:hover {
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -100px;
}

/* -----rwd------ */
.nav1 li a img {
    width: 50px;
}

.nav-rwd{
    display: none;
}

/* ----最新消息---- */

.body-bottom{
    box-sizing: border-box;
    margin-top: 100px;
    overflow: hidden;
}

.body-bottom-banner2{
    position: relative;
    padding-top: 120px;
    
}

.body-bottom-banner2 .bottom-banner2{
    display: block;
    padding-bottom: 100px; 
}

.body-bottom-banner2 .bottom-banner2 h1{
    font-size: 2.5em;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
}

.body-bottom-banner2 .bottom-banner2 h1::before{
    content: "";
    display: block;
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -210% -400%;
}

.body-bottom-banner2 .bottom-banner2 h1::after{
    content: "";
    display: block;
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 210% -400%;
}

.body-bottom-banner2 .bottom-banner2 h3{
    font-size: 1.8em;
    color: #73B20A;
    font-weight:500;
    text-align: center;
}

.body-bottom-banner2 .bottom-banner2 h3::before{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: -330% 80%;
}

.body-bottom-banner2 .bottom-banner2 h3::after{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 410% 80%;
}

/* 中間消息 */
.body-bottom ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 85vw;
    /* border: 1px solid red; */
    margin: 0 auto;
}

/* 消息1 */
.body-bottom ul .bottom-news1{
    /* margin-left: 45px; */
    /* display: flex; */
    width: 25vw;
    
    margin: 0 20px;
    margin-bottom: 80px;
    /* border: 1px solid red; */
    transition: all .7s;
}
/* -----bover----- */
.bottom-news1:hover{
    transform: translateY(-20px);
}
/* -------------- */
.body-bottom ul .bottom-news1 a{}

.body-bottom ul .bottom-news1 a img{
    display: block;
    border-radius: 10px;
    width: 100%;
}

.body-bottom ul .bottom-news1 .news1{
    /* padding-left: 120px; */
    padding: 30px 10px 0;
}

.body-bottom ul .bottom-news1 .news1 .news1-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news1 .news1 p{
    font-size: 18px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news1 .news1-bar p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news1 .news1-bar p:nth-child(2){
    width: 75px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news1 p:nth-child(3){
    color: #517C09;
    margin-top: 80px;
}

/* 消息2 */

.body-bottom ul .bottom-news2{
    /* margin-left: 20px; */
    /* width: 370px; */
    width: 25vw;

    margin: 0 20px;
    margin-bottom: 80px;
    /* border: 1px solid red; */
    transition: all .7s;
}

.body-bottom ul .bottom-news2 .news2{
    padding: 30px 10px 0;

}
/* -----bover----- */
.bottom-news2:hover{
    transform: translateY(-20px);
}
/* -------------- */
.body-bottom ul .bottom-news2 a{}

.body-bottom ul .bottom-news2 a img{
    display: block;
    border-radius: 10px;
    width: 100%;
}

.body-bottom ul .bottom-news2 .news2 .news2-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news2 .news2 p{
    font-size: 18px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news2 .news2-bar p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news2 .news2-bar p:nth-child(2){
    width: 95px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news2 p:nth-child(3){
    color: #517C09;
    margin-top: 50px;
}

/* 消息3 */

.body-bottom ul .bottom-news3{
    /* margin-left: 20px; */
    /* display: flex; */
    /* width: 370px; */
    width: 25vw;

    margin: 0 20px;
    margin-bottom: 80px;
    /* border: 1px solid red; */
    /* margin-right: 50px; */
    transition: all .7s;
}

/* -----bover----- */
.bottom-news3:hover{
    transform: translateY(-20px);
}
/* -------------- */

.body-bottom ul .bottom-news3 .news3{
    padding: 30px 10px 0;
}

.body-bottom ul .bottom-news3 a{}

.body-bottom ul .bottom-news3 a img{
    display: block;
    border-radius: 10px;
    width: 100%;
}

.body-bottom ul .bottom-news3 .news3 .news3-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news3 .news3 p{
    font-size: 18px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news3 p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news3 p:nth-child(3){
    color: #517C09;
    margin-top: 50px;
}
/* 消息4 */

.body-bottom ul .bottom-news4{
    /* margin-left: 20px; */
    margin: 0 20px;
    /* width: 370px; */
    width: 25vw;
    margin-bottom: 80px;
    transition: all .7s;
}

/* -----bover----- */
.bottom-news4:hover{
    transform: translateY(-20px);
}
/* -------------- */

.body-bottom ul .bottom-news4 .news4{
    padding: 30px 10px 0;
}

.body-bottom ul .bottom-news4 a{}

.body-bottom ul .bottom-news4 a img{
    display: block;
    border-radius: 10px;
    width: 100%;
}

.body-bottom ul .bottom-news4 .news4 .news4-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news4 .news4 p{
    font-size: 18px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news4 .news4-bar p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news4 .news4-bar p:nth-child(2){
    width: 95px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news4 p:nth-child(3){
    color: #517C09;
    margin-top: 50px;
}

/* 底圖物件 */
.obj4{
    position: relative;
    margin-top: 100px;
}

.obj4 img{
    display: block;
    width: 70vw;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 100% -50%;
    z-index: -1;
}

/* ----footer---- */
.footer {
    background-image: url("../img/footer.jpg");
    display: block;
    /* height: 482px; */
    width: 100%;
    /* height: 100%; */
    /* width: 99vw; */
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .footer-top {
    position: relative;
    justify-content: center;
    display: flex;
    /* transform:translate(-200px); */
    /* border: 1px solid blue; */
}

/* 左邊logo區塊 */
.footer-top .main-left {
    /* position: absolute;
    top: 10%;
    left: 20%; */
    margin-left: -200px;
    margin-top: 150px;
    text-align: center;
    /* border: 1px solid red; */
}

.footer-top>.main-left>a>img {
    margin-bottom: 20px;
    width: 8vw;
}

.footer-top .main-left .main-left-icon {
    display: flex;
    /* border: 1px solid red; */
}

.main-left-icon a {
    display: block;
    overflow: hidden;
    width: 3vw;
    /* height: 50px; */
    /* margin: 0 auto; */
}

.main-left-icon a img {
    display: block;
    width: 2vw;
    margin: 0 auto;
    /* border:  1px solid red; */
}

/* -----hover------ */
.main-left-icon img:hover {
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -44px;
}

/* -------------- */

.footer-top .main-left .main-left-icon img {
    /* padding: 10px; */
}

/* 右邊導覽列 */
.footer-top .main-right {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.footer-top .main-right ul {}

/* 品牌故事 */
.main-right1 {}

.main-right1::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right1 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right a {
    font-size: 1vw;
}

.main-right1 a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 最新消息 */
.main-right2 {
    margin-left: 40px;
}

.main-right2::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right2 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right2 a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 所有商品 */
.main-right3 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.main-right3 :nth-child(1)::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right3 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right3 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    display: block;
}

/* 門市資訊 */
.main-right4 {
    margin-left: 40px;
}

.main-right4::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right4 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right4 a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 線上購物 */
.main-right5 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.main-right5 :nth-child(1)::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right5 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right5 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    display: block;
}

/* 底層文字 */
.footer-bottom {

    /* border: 1px solid red; */
    width: 100%;
    /* margin-bottom: 20px; */
}

.footer-bottom p {
    color: white;
    text-align: center;
    font-size: 0.8vw;
    letter-spacing: 2px;
    padding: 20px 0;
    line-height: 1.2;
    /* border: 1px solid blue;    */
}

/* rwd */
.rwd-footer{
    display: none;
}

@media screen and (max-width: 414px) {
    /* 導覽列 */
    .header{
        width: 100vw;
    }

    .nav-top{
        width: 100vw;
        height: 10vh;
        background-image: linear-gradient(0deg, #2e6603 0%, #1E380D 30%, #0F1A11 100%);
    }
    /* 導覽列左邊 */
    .nav1{
       /* flex-direction: column; */
    }
    .nav1 li:nth-child(4){
        display: block;
        margin-right: 300px;
        /* border: 1px solid red; */
    }
    .nav1 li{
        display: none;
    }
    .nav1 li a{
        font-size: 12px;
    }
    /* 導覽列滑動選單 */
    .nav-rwd{
        display: block;
        /* display: none; */
        /* border: 1px solid red; */
        background-color: #C5E4A6;
        position: absolute;
        top: 90px;
        left: -1000px;
        transition: all 1s;
    }
    .nav-rwd li{
        width: 100vw;
        margin: 25px 0;
        /* margin: 0 auto; */
        text-align: center;
    }
    .nav-rwd li a{
        text-decoration: none;
        color: #517C09;
        border-bottom: 1px solid #73B20A;
        font-size: 16px;
    }
    /* 導覽列右邊 */
    .nav2{}
    .nav2 li{}
    .nav2 li a{
        width: 37px;
    }
    .nav2 li a img{}

    /* 漢堡 */
    .nav3{
        width: 10vw;
        /* display: flex; */
        /* display: block; */
        /* border: 1px solid red; */
        position: absolute;
        top: 38px;
        right: 0;
    }

    .button1{
        display: block;
        width: 20px;
        height: 1px;
        background-color: white;
        /* border: 1px solid red; */
        margin-bottom: 5px;
        position: absolute;
        top: 0;
        transition: all .8s;
    }
    .button2{
        display: block;
        width: 20px;
        height: 1px;
        background-color: white;
        margin-bottom: 5px;
        position: absolute;
        top: 5px;
    }
    .button3{
        display: block;
        width: 20px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 10px;
        transition: all .8s;    
    }
    .button1.close {
        display: block;
        transform: rotate(-225deg);
        top: 5px;
    }
    .button3.close {
        display: block;
        transform: rotate(225deg);
        top: 5px;
    }

    .close{
        display: none;
    }
    .open{
        left: 0;
        opacity: 1;
        transition: 1s;
    }
    /* 最新消息頁 */
    .body-bottom-banner2{
        padding-top: 67px;
    }
    .body-bottom-banner2 .bottom-banner2{
        padding-bottom: 64px;
    }
    .body-bottom-banner2 .bottom-banner2 h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .body-bottom-banner2 .bottom-banner2 h1::before{
        width: 30px;
        height: 1px;
        position: absolute;
        top: 42%;
        left: 26%;
        translate: 0;
    }
    .body-bottom-banner2 .bottom-banner2 h1::after{
        width: 30px;
        height: 1px;
        position: absolute;
        top: 42%;
        right: 26%;
        translate: 0;
    }
    .body-bottom-banner2 .bottom-banner2 h3{
        font-size: 20px;
    }
    .body-bottom-banner2 .bottom-banner2 h3::before{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -400% 50%;
        background-size: cover;
    }
    .body-bottom-banner2 .bottom-banner2 h3::after{
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        translate: 290% 50%;
        background-size: cover;
    }
    .body-bottom ul .bottom-news1{
        width: 85vw;
    }
    .body-bottom ul .bottom-news1 p:nth-child(3){
        margin-top: 0;
    }
    .body-bottom ul .bottom-news2{
        width: 85vw;
    }
    .body-bottom ul .bottom-news2 p:nth-child(3){
        margin-top: 0;
    }
    .body-bottom ul .bottom-news3{
        width: 85vw;
    }
    .body-bottom ul .bottom-news3 p:nth-child(3){
        margin-top: 0;
    }
    .body-bottom ul .bottom-news4{
        width: 85vw;
    }
    .body-bottom ul .bottom-news4 p:nth-child(3){
        margin-top: 0;
    }
    .obj4{
        margin-top: 25px;
    }
    .obj4 img{
        width: 90vw;
        translate: 90% -50%;
    }

    /* footer */
    .footer{
        display: none;
    }
    .footer-top .main-left{
        margin-top: 0;
        margin-left: 0;
        width: 100vw;
    }
    .footer-top .main-left .main-left-icon{
        justify-content: center;
    }
    .footer-top .main-right{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 50px;
    }
    .rwd-footer{
    background-image: url("../img/bg01.jpg");
    display: block;
    /* height: 482px; */
    width: 100%;
    /* height: 100%; */
    /* width: 99vw; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    }
    .main-left-icon a{
        width: 9vw;
    }
    .main-left-icon a img{
        width: 6vw;
    }
    .footer-top>.main-left>a>img{
        width: 20vw;
        margin-top: 20px;
    }
    .main-right1{
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .main-right2{
        margin-bottom: 20px;
    }
    .main-right3{
        margin-bottom: 20px;
    }
    .main-right4{
        margin-bottom: 20px;
    }
    .main-right a{
        width: 120px;
        font-size: 1.3em;
        /* margin-bottom: 20px; */
    }
    .main-right3 a{
        margin-bottom: 0;
    }
    .main-right1::after{
        width: 65px;
    }
    .main-right2::after{
        width: 65px;
    }
    .main-right3 :nth-child(1)::after{
        width: 65px;
    }
    .main-right4::after{
        width: 65px;
    }
    .main-right5 :nth-child(1)::after{
        width: 65px;
    }
    .footer-bottom p{
        padding: 20px 30px;
        font-size: 0.8em;
    }

}