@import url("reset.css");
html{
    scroll-behavior: smooth;
}
body{
    background-color: #DEF0C6;
    font-family: 'Noto Sans TC', sans-serif;
}
.header {
    width: 100%;
}

.banner1 {
    width: 100%;
    display: block;
}

/* <!-- 導覽列 --> */
.nav-top {
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

/* <!-- 導覽列左邊 --> */

.nav1 {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(0deg, #2e6603 0%, #1E380D 30%, #0F1A11 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    overflow: hidden;
    letter-spacing: 2px;    
}

.nav1 li {}
/* -----hover----- */
.nav1 li a:hover{
    color: #94E30F;
}
/* ------------- */
.nav1 li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    /* border: 1px solid purple; */
    padding: 30px 30px;
    transition: 0.7s;
}

.nav1 li a img {}

/* <!-- 導覽列右邊 --> */
.nav2 {
    /* width: 300px; */
    display: flex;
    position: absolute;
    top: 60px;
    right: 50px;
    transform: translateY(-50%);    
}

.nav2 li {}

.nav2 li a {
    padding: 20px 0;
    display: block;
    width: 50px;
    text-align: center;
    overflow: hidden;
}

/* -----hover------ */
.nav2 li a img:hover{
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -100px;
}
/* -------------- */

/* banner文字 */
.h2-banner {
    display: block;
    border-left: 10px solid #94E30F;
    padding-left: 40px;
    border-right: 1px solid #94E30F;
    padding-right: 30px;
    position: absolute;
    top: 298px;
    right: 110px;
    letter-spacing: 2px;
}

.span1 {
    color: #94E30F;
    font-size: 48px;
    margin-bottom: 30px;
}

.span2 {
    color: white;
    font-size: 48px;
}

/* ---------期間限定區塊-------- */
.body-top{
    position: relative;
}

/* 第一個插件 */
.body-top-banner1{
    position: relative;
}

.body-top-banner1 img{
    display: block;
    position: absolute;
    top: 50%;
    left: 49.5%;
    translate: -50% -10%; 
    
}


/* 第二個插件 */
.body-top-banner2{
    position: relative;
    padding-top: 200px;
    
}

.body-top-banner2 .banner2{
    display: block;
    /* margin: 0 auto; */
    padding-bottom: 100px;
    
}

.body-top-banner2 .banner2 h1{
    font-size: 64px;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
}

.body-top-banner2 .banner2 h1::before{
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -360% 460%;
}

.body-top-banner2 .banner2 h1::after{
    content: "";
    display: block;
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 360% 460%;
}

.body-top-banner2 .banner2 h3{
    font-size: 40px;
    color: #73B20A;
    font-weight:500;
    text-align: center;
}

.body-top-banner2 .banner2 h3::before{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: -360% 230%;

}

.body-top-banner2 .banner2 h3::after{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 450% 230%;

}

/* 第三個插件 */
.body-top ul{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.body-top ul li{
    margin:0 40px;
    position: relative;
}

.body-top ul .obj{
    position: absolute;
    top: 50%;
    right: -70px;
}

.body-top .banner3{}

.body-top .banner4{}

.body-top .banner5{}

.body-top ul li img{}

/* 底層物件 */
.object1{
    display: block;
    position: absolute;
    top: 50%;
    left: 49.5%;
    z-index: -1;
    translate: -112% -80%; 
}

.object2{
    display: block;
    position: absolute;
    top: 50%;
    left: 49.5%;
    z-index: -1;
    translate: -50% 260%;
}

/* ----------熱門商品----------- */

/* 第一個插件 */
.body-mid{
    margin-top: 20px;
}


.body-mid-banner2{
    position: relative;
    padding-top: 200px;
    
}

.body-mid-banner2 .mid-banner2{
    display: block;
    /* margin: 0 auto; */
    padding-bottom: 100px;
    
}

.body-mid .body-mid-banner2 .mid-banner2 h1{
    font-size: 64px;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
}

.body-mid .body-mid-banner2 .mid-banner2 h1::before{
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -360% 460%;
}

.body-mid .body-mid-banner2 .mid-banner2 h1::after{
    content: "";
    display: block;
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 360% 460%;
}

.mid-banner2 h3{
    font-size: 40px;
    color: #73B20A;
    font-weight:500;
    text-align: center;
}

.mid-banner2 h3::before{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: -360% 230%;

}

.mid-banner2 h3::after{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 450% 230%;

}

/* 中間商品滑頁 */
.body-mid ul{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
/* 商品1 */
.body-mid ul .ourproducts1{
    display: block;
    background-color: #C5E4A6;
    margin-right: 20px;
    box-shadow:0px 5px 10px rgba(115, 178, 10, 0.8);
    translate: 60% -16%;
    z-index: 0;
}

/* 黑色半透明遮罩 */
.body-mid ul .ourproducts1::before{
    display: block;
    content: "";
    width: 427px;
    height: 592px;
    background-color: #0F1A11;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(.5);
}

.body-mid ul .ourproducts1 a{
    text-decoration: none;
}

.body-mid ul .ourproducts1 a img{}

.body-mid ul .ourproducts1 a p{
    font-size: 20px;
    color: #73B20A;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.05em;
    height: 128px;
    margin-top: 35px;
}
/* 商品2 */
.body-mid ul .ourproducts2{
    display: block;
    background-color: #C5E4A6;
    margin-right: 20px;
    box-shadow:0px 5px 10px rgba(115, 178, 10, 0.8);
    translate: 30% -8%;
    z-index: 1;
}

/* 半透明遮罩 */
.body-mid ul .ourproducts2::before{
    display: block;
    content: "";
    width: 427px;
    height: 592px;
    background-color: #0F1A11;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(.5);
}

.body-mid ul .ourproducts2 a{
    text-decoration: none;
}

.body-mid ul .ourproducts2 a img{}

.body-mid ul .ourproducts2 a p{
    font-size: 20px;
    color: #73B20A;
    text-align: center;
    line-height: 1.6;
    height: 128px;
    margin-top: 15px;
    letter-spacing: 0.05em;
}

/* 商品3 */
.body-mid ul .ourproducts3{
    display: block;
    background-color: #C5E4A6;
    margin-right: 20px;
    box-shadow:0px 5px 10px rgba(115, 178, 10, 0.8);
    z-index: 2;
}

.body-mid ul .ourproducts3 a{
    text-decoration: none;
}

.body-mid ul .ourproducts3 a img{}

.body-mid ul .ourproducts3 a p{
    font-size: 20px;
    color: #73B20A;
    text-align: center;
    line-height: 1.6;
    height: 128px;
    margin-top: 35px;
    letter-spacing: 0.05em;
}

/* 商品4 */
.body-mid ul .ourproducts4{
    display: block;
    background-color: #C5E4A6;
    margin-right: 20px;
    box-shadow:0px 5px 10px rgba(115, 178, 10, 0.8);
    translate: -30% -8%;
    z-index: 1;
}

/* 半透明遮罩 */
.body-mid ul .ourproducts4::before{
    display: block;
    content: "";
    width: 427px;
    height: 592px;
    background-color: #0F1A11;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(.5);
}

.body-mid ul .ourproducts4 a{
    text-decoration: none;
}

.body-mid ul .ourproducts4 a img{}

.body-mid ul .ourproducts4 a p{
    font-size: 20px;
    color: #73B20A;
    text-align: center;
    line-height: 1.6;
    height: 128px;
    margin-top: 35px;
    letter-spacing: 0.05em;
}

/* 商品5 */
.body-mid ul .ourproducts5{
    display: block;
    background-color: #C5E4A6;
    margin-right: 20px;
    box-shadow:0px 5px 10px rgba(115, 178, 10, 0.8);
    translate: -60% -16%;
    /* z-index: -2; */
}

/* 半透明遮罩 */
.body-mid ul .ourproducts5::before{
    display: block;
    content: "";
    width: 427px;
    height: 592px;
    background-color: #0F1A11;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(.5);
}

.body-mid ul .ourproducts5 a{
    text-decoration: none;
}

.body-mid ul .ourproducts5 a img{}

.body-mid ul .ourproducts5 a p{
    font-size: 20px;
    color: #73B20A;
    text-align: center;
    line-height: 1.6;
    height: 128px;
    margin-top: 35px;
    letter-spacing: 0.05em;
}
/* 底圖物件 */
.object3{
    position: relative;
}

.object3 img{
    position: absolute;
    top: 50%;
    left: 49.5%;
    
    z-index: -2;
    translate: -5% -90%;
    margin-top: 50px;
}

/* 熱門商品按鈕 */
.body-mid-bottom{
    display: flex;
    justify-content: center;
    transform: translateY(40px);
    width: 300px;
    margin: 60px auto 0;
    /* border: 1px solid red;    */
}

.body-mid-bottom .bottom1{
    display: block;
    width: 140px;
    height: 140px;
    background-color: #94E30F;
    border-radius: 50%;
}

.body-mid-bottom a{
    text-decoration: none;
    /* padding-top: 30px; */
}
/* ----hover */
.body-mid-bottom:hover > a > .bottom2{
    transform: translate(8px,-132px) rotate(-360deg);
}
/* --------- */
.body-mid-bottom .bottom2{
    width: 120px;
    height: 120px;
    border: 2.5px solid #517C09;
    border-radius: 50%;
    transform:translate(100px, -132px);
    transition: 1s;
}

.body-mid-bottom .bottom2 p{
    color: #517C09;
    font-family: arial;
    text-align: center;
    font-size: 24px;
    padding: 30px;
    line-height: 1.2;
}

/* ----最新消息頁---- */

.body-bottom{
    background-color: #C5E4A6;
    margin-top: 20px;
}

.body-bottom-banner2{
    position: relative;
    padding-top: 120px;
    
}

.body-bottom-banner2 .bottom-banner2{
    display: block;
    /* margin: 0 auto; */
    padding-bottom: 100px;
    
}

.body-bottom-banner2 .bottom-banner2 h1{
    font-size: 64px;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
}

.body-bottom-banner2 .bottom-banner2 h1::before{
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -230% -400%;
}

.body-bottom-banner2 .bottom-banner2 h1::after{
    content: "";
    display: block;
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 230% -400%;
}

.body-bottom-banner2 .bottom-banner2 h3{
    font-size: 40px;
    color: #73B20A;
    font-weight:500;
    text-align: center;
}

.body-bottom-banner2 .bottom-banner2 h3::before{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: -360% 110%;

}

.body-bottom-banner2 .bottom-banner2 h3::after{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 450% 110%;

}

/* 中間消息 */
.body-bottom ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* 消息1 */
.body-bottom ul .bottom-news1{
    margin-left: 20px;
    display: flex;
    width: 750px;
    margin-bottom: 80px;
}

.body-bottom ul .bottom-news1 .news1{
    padding-left: 40px;
    padding-top: 40px;
    
}

.body-bottom ul .bottom-news1 a{}

.body-bottom ul .bottom-news1 a img{
    display: block;
    border-radius: 10px;
}

.body-bottom ul .bottom-news1 .news1 .news1-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news1 .news1 p{
    font-size: 20px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news1 .news1-bar p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news1 .news1-bar p:nth-child(2){
    width: 75px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news1 p:nth-child(3){
    color: #517C09;
    margin-top: 50px;
}

/* 消息2 */

.body-bottom ul .bottom-news2{
    margin-left: 20px;
    display: flex;
    width: 750px;
    margin-bottom: 80px;
}

.body-bottom ul .bottom-news2 .news2{
    padding-left: 40px;
    padding-top: 40px;
}

.body-bottom ul .bottom-news2 a{}

.body-bottom ul .bottom-news2 a img{
    display: block;
    border-radius: 10px;
}

.body-bottom ul .bottom-news2 .news2 .news2-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news2 .news2 p{
    font-size: 20px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news2 .news2-bar p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news2 .news2-bar p:nth-child(2){
    width: 95px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news2 p:nth-child(3){
    color: #517C09;
    margin-top: 20px;
}

/* 消息3 */

.body-bottom ul .bottom-news3{
    margin-left: 20px;
    display: flex;
    width: 750px;
    margin-bottom: 80px;
}

.body-bottom ul .bottom-news3 .news3{
    padding-left: 40px;
    padding-top: 40px;
}

.body-bottom ul .bottom-news3 a{}

.body-bottom ul .bottom-news3 a img{
    display: block;
    border-radius: 10px;
}

.body-bottom ul .bottom-news3 .news3 .news3-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news3 .news3 p{
    font-size: 20px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news3 p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news3 p:nth-child(3){
    color: #517C09;
    margin-top: 50px;
}
/* 消息4 */

.body-bottom ul .bottom-news4{
    margin-left: 20px;
    display: flex;
    width: 750px;
    margin-bottom: 80px;
}

.body-bottom ul .bottom-news4 .news4{
    padding-left: 40px;
    padding-top: 40px;
}

.body-bottom ul .bottom-news4 a{}

.body-bottom ul .bottom-news4 a img{
    display: block;
    border-radius: 10px;
}

.body-bottom ul .bottom-news4 .news4 .news4-bar{
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news4 .news4 p{
    font-size: 20px;
    color: #1F4321;
    line-height: 1.6;
}
.body-bottom ul .bottom-news4 .news4-bar p:nth-child(1){
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news4 .news4-bar p:nth-child(2){
    width: 95px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news4 p:nth-child(3){
    color: #517C09;
    margin-top: 50px;
}

/* 最新消息按鈕 */
.body-mid-bottom2{
    display: flex;
    /* justify-content: center; */
    width: 200px;
    margin: 0 auto;
    margin-bottom: 150px;
    /* border: 1px solid red; */
}

.body-mid-bottom2 a{
    text-decoration: none;
    height: 150px;
}

.body-mid-bottom2 .bottom1{
    display: block;
    width: 140px;
    height: 140px;
    background-color: #94E30F;
    border-radius: 50%;
}
/* -----hover */
.body-mid-bottom2:hover > a > .bottom2{
    transform: translate(8px,-132px) rotate(-360deg);
}
/* --------- */
.body-mid-bottom2 .bottom2{
    width: 120px;
    height: 120px;
    border: 2.5px solid #517C09;
    border-radius: 50%;
    transform:translate(100px, -130px);
    transition: 1s;
}

.body-mid-bottom2 .bottom2 p{
    color: #517C09;
    font-family: arial;
    text-align: center;
    font-size: 24px;
    padding: 30px;
    line-height: 1.2;
}

/* 底層回到最上物件 */
.bottom-object{
    text-align: center;
    width: 100%;
}

.bottom-object .bottom-obj6{
    position: relative;
    text-decoration: none;
    width: 300px;
    margin: 0 auto;
}

.bottom-object .bottom-obj6 img{
    display: block;
    margin: 0 auto;
}
/* -----hover------ */
.bottom-object .bottom-obj6:hover p{
    color: white;
}
/* ------------- */
.bottom-object .bottom-obj6 p{
    font-size: 24px;
    font-weight: bold;
    color: #517C09;
    position:absolute ;
    top: 45px;
    left: 124px;
    transition: 0.8s;
}

.bottom-object .bottom-obj7{}

.bottom-object .bottom-obj7 img{
    display: block;
    width: 100%;
}

/* ----footer---- */
.footer{
    background-image: url("../img/footer.jpg");
    display: block;
    height: 482px;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.footer .footer-top{
    justify-content: center;
    display: flex;
    transform:translate(-200px);
}

/* 左邊logo區塊 */
.footer-top .main-left{
    margin-left: 200px;
    margin-top: 150px;
    /* border: 1px solid red; */
    text-align: center;
}
.footer-top .main-left img{
    margin-bottom: 30px;
}

.footer-top .main-left .main-left-icon{
    display: flex;
}

.main-left-icon a{
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

/* -----hover------ */
.main-left-icon img:hover{
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -100px;
}
/* -------------- */

.footer-top .main-left .main-left-icon img{
    /* border: 1px solid red; */
    /* padding: 10px; */
}

/* 右邊導覽列 */
.footer-top .main-right{
    display: flex;
    margin-top: 150px;
    margin-left: 100px;
}
/* 品牌故事 */
.main-right1{}

/* -----hover */
.main-right1 a:hover{
    color: #94E30F;
}
/* ------ */
.main-right1::after{
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

.main-right1 a{
    display: block;
    text-decoration: none;
    color: white;
}

/* 最新消息 */
.main-right2{
    margin-left: 50px;
}

.main-right2::after{
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right2 a:hover{
    color: #94E30F;
}
/* --------- */
.main-right2 a{
    text-decoration: none;
    color: white;
}

/* 所有商品 */
.main-right3{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.main-right3 :nth-child(1)::after{
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}
/* -----hover */
.main-right3 a:hover{
    color: #94E30F;
}
/* --------- */
.main-right3 a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

/* 門市資訊 */
.main-right4{
    margin-left: 50px;
}

.main-right4::after{
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right4 a:hover{
    color: #94E30F;
}
/* --------- */

.main-right4 a{
    text-decoration: none;
    color: white;
}

/* 線上購物 */
.main-right5{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.main-right5 :nth-child(1)::after{
    content: "";
    display: block;
    width: 123px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right5 a:hover{
    color: #94E30F;
}
/* --------- */

.main-right5 a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

/* 底層文字 */
.footer-bottom{
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    
    
}
