@import url("reset.css");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #DEF0C6;
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
}

.header {}



/* <!-- 導覽列 --> */
.nav-top {
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    /* border: 4px solid red; */
}

/* <!-- 導覽列左邊 --> */

.nav1 {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(0deg, #2e6603 0%, #1E380D 30%, #0F1A11 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    overflow: hidden;
    letter-spacing: 2px;
}

.nav1 li {}

/* -----hover----- */
.nav1 li a:hover {
    color: #94E30F;
}

/* ------------- */
.nav1 li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    /* border: 1px solid purple; */
    padding: 20px 20px;
    transition: 0.7s;
}
/* -----rwd------ */
.nav1 li a img {
    width: 50px;
}

.nav-rwd{
    display: none;
}
.nav-rwd li{}
.nav-rwd li a{}
/* ------------- */

/* <!-- 導覽列右邊 --> */
.nav2 {
    /* width: 300px; */
    display: flex;
    position: absolute;
    top: 45px;
    right: 50px;
    transform: translateY(-50%);
}

.nav2 li {}

.nav2 li a {
    padding: 20px 0;
    display: block;
    width: 50px;
    text-align: center;
    overflow: hidden;
}

.nav2 li a img {
    width: 20px;
    height: 20px;
}

/* -----hover------ */
.nav2 li a img:hover {
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -100px;
}

/* -------------- */

.banner1 {
    width: 100%;
    display: block;
    /* position: relative; */
}

/* .banner1 img{
    display: block;
    width: 100%; 
} */

.h2-banner1 img {
    display: block;
    width: 100%;
}

/* banner文字 */
.h2-banner1 {

    position: relative;
    /* width: 1200px; */
    width: 100%;
    /* height: 500px; */
    /* border: 5px solid blue; */
    /* margin: 0 auto; */
}

.h2-banner {
    display: block;
    /* width: 520px; */
    width: 40vw;
    margin-right: 20px;
    /* border: 1px solid red; */
    /* border-left: 10px solid #94E30F; */
    padding-left: 40px;
    /* border-right: 1px solid #94E30F; */
    /* padding-right: 30px; */
    position: absolute;
    top: 35vh;
    right: 2vw;
    letter-spacing: 2px;
}

.span1 {
    /* display: inline-block; */
    color: #94E30F;
    font-size: 3vw;
    margin-bottom: 15px;
    /* border: 1px solid rebeccapurple; */
}

.span1::before {
    content: "";
    display: block;
    height: 15vh;
    width: 10px;
    background-color: #94E30F;
    position: absolute;
    top: 0;
    left: -10px;
}

.span2 {
    /* display: inline-block; */
    /* border: 1px solid red; */
    color: white;
    font-size: 2.8vw;
}

.span2::after {
    content: "";
    display: block;
    height: 15vh;
    width: 1px;
    background-color: #94E30F;
    position: absolute;
    bottom: 0;
    right: -10px;
}

/* ---------期間限定區塊-------- */
.body-top {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
    /* border: 1px solid red; */
}

/* 第一個插件 */
.body-top-banner1 {
    position: relative;
}

.body-top-banner1 img {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -10%;

}


/* 第二個插件 */
.body-top-banner2 {
    display: block;
    position: relative;
    padding-top: 200px;
    width: 100%;
    /* border: 1px solid red; */
}

.body-top-banner2 .banner2 {
    display: block;
    width: 70vw;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;

}

.body-top-banner2 .banner2 h1 {
    font-size: 2.5em;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.body-top-banner2 .banner2 h1::before {
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 123px;
    height: 3px;
    background-color: #517C09;
    position: absolute;
    top: 30%;
    left: 52%;
    translate: -300% -1200%;
}

.body-top-banner2 .banner2 h1::after {
    content: "";
    display: block;
    width: 123px;
    height: 3px;
    background-color: #517C09;
    position: absolute;
    top: 30%;
    right: 52%;
    translate: 300% -1200%;
}

.body-top-banner2 .banner2 h3 {
    font-size: 1.8em;
    color: #73B20A;
    font-weight: 500;
    text-align: center;
}

.body-top-banner2 .banner2 h3::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    /* background-position: center; */
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -400% -100%;

}

.body-top-banner2 .banner2 h3::after {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: 290% -100%;

}

/* 第三個插件 */
.body-top ul {
    /* width: 1250px; */
    margin: 0 auto;
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    width: 100%;
    /* border: 1px solid blue; */
    /* overflow: hidden; */

}

.body-top ul li {
    display: block;
    margin: 0 40px;
    position: relative;
    width: 100vw;
    /* border: 1px solid red; */
}

/* .body-top ul .obj {
    position: absolute;
    top: 50%;
    right: -60px;
    width: 40px;
} */

.body-top .banner3 {}

.body-top .banner3 img {
    width: 55vw;

}

.body-top .banner4 {}

.body-top .banner4 img {
    width: 55vw;
}

.body-top .banner5 {}

.body-top .banner5 img {
    width: 55vw;
}

.body-top ul li img {}

/* 底層物件 */
.object1 {
    position: relative;
}

.object1 img {
    width: 70vw;
    display: block;
    position: absolute;
    top: 0%;
    left: -30%;
    z-index: -1;
    translate: -10% -200%;
    /* border: 1px solid red; */
}

.object2 {
    /* width: 100%; */
    /* display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: -1;
    translate: -50% 260%; */
    position: relative;
}

.object2 img {
    /* width: 1250px; */
    width: 90vw;
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: -1;
    translate: -50% -50%;
}

/* ----------熱門商品----------- */

/* 第一個插件 */
.body-mid {
    display: block;
    width: 100%;
    /* max-width: 1260px; */
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;

}


.body-mid-banner2 {
    display: block;
    position: relative;
    padding-top: 150px;
    width: 100%;
    /* max-width: 1250px; */
    margin: 0 auto;
    /* border: 1px solid red; */
    /* width: 100vw; */
}

.body-mid-banner2 .mid-banner2 {
    display: block;
    width: 1250px;
    /* width: 100vw; */
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
    /* border: 1px solid red; */
}

.body-mid .body-mid-banner2 .mid-banner2 h1 {
    font-size: 2.5em;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
}

.body-mid .body-mid-banner2 .mid-banner2 h1::before {
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 123px;
    height: 3px;
    background-color: #517C09;
    position: absolute;
    top: 10%;
    left: 22%;
    /* translate: -360% 460%; */
}

.body-mid .body-mid-banner2 .mid-banner2 h1::after {
    content: "";
    display: block;
    width: 123px;
    height: 3px;
    background-color: #517C09;
    position: absolute;
    top: 10%;
    right: 22%;
    /* translate: 360% 460%; */
}

.mid-banner2 h3 {
    font-size: 1.8em;
    color: #73B20A;
    font-weight: 500;
    text-align: center;
}

.mid-banner2 h3::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 31%;
    left: 39%;
    /* translate: -360% 230%; */

}

.mid-banner2 h3::after {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 31%;
    right: 39%;
    /* translate: 450% 230%; */

}

/* 中間商品滑頁 */
.body-mid ul{
    /* display: flex; */
    justify-content: center;
    /* margin-top: 50px; */
    width: 100vw;
    
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}
.body-mid ul li{
    display: block;
    width: 27.5vw;
    /* width: 350px;
    height: 520px; */
    
    background-color: #C5E4A6;
    margin-right: 50px;
    box-shadow: 0px 5px 10px rgba(115, 178, 10, 0.8);
}

.body-mid ul li a {
    text-decoration: none;
}
.body-mid li a img {
    display: block;
    width: 100%;
}
.body-mid ul li a p {
    font-size: 1.4vw;
    color: #73B20A;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.05em;
    /* height: 128px; */
    margin: 35px 0;
    height: 17.5vh;
}

/* 底圖物件 */
.object3 {
    position: relative;
}

.object3 img {
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 40%;

    z-index: -2;
    translate: 15% -90%;
    /* margin-top: 30px; */
}

/* 熱門商品按鈕 */
.body-mid-bottom {
    display: flex;
    justify-content: center;
    transform: translateY(40px);
    width: 300px;
    margin: 30px auto 10px;
    /* border: 1px solid red;    */
}

.body-mid-bottom .bottom1 {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #94E30F;
    border-radius: 50%;
}

.body-mid-bottom a {
    text-decoration: none;
    /* padding-top: 30px; */
}

/* ----hover */
.body-mid-bottom:hover>a>.bottom2 {
    transform: translate(53px, -97px) rotate(-360deg);
}

/* --------- */
.body-mid-bottom .bottom2 {
    width: 90px;
    height: 90px;
    border: 2.5px solid #517C09;
    border-radius: 50%;
    transform: translate(3px, -97px);
    transition: 1s;
}

.body-mid-bottom .bottom2 p {
    color: #517C09;
    font-family: arial;
    text-align: center;
    font-size: 18px;
    padding: 22px;
    line-height: 1.2;
}

/* ----最新消息頁---- */

.body-bottom {
    background-color: #C5E4A6;
    margin-top: 20px;
    width: 100%;
    /* width: 1200px; */
    margin: 0 auto;
}

.body-bottom-banner2 {
    position: relative;
    padding-top: 120px;
    /* width: 1200px; */
    margin: 0 auto;

}

.body-bottom-banner2 .bottom-banner2 {
    display: block;
    /* margin: 0 auto; */
    padding-bottom: 100px;

}

.body-bottom-banner2 .bottom-banner2 h1 {
    font-size: 2.5em;
    font-family: arial;
    color: #517C09;
    text-align: center;
    margin-bottom: 20px;
}

.body-bottom-banner2 .bottom-banner2 h1::before {
    content: "";
    display: block;
    /* border: 1px solid red; */
    width: 123px;
    height: 3px;
    background-color: #517C09;
    position: absolute;
    top: 45%;
    left: 30%;
    translate: 0% -100%;
}

.body-bottom-banner2 .bottom-banner2 h1::after {
    content: "";
    display: block;
    width: 123px;
    height: 4px;
    background-color: #517C09;
    position: absolute;
    top: 45%;
    right: 30%;
    translate: 0% -100%;
}

.body-bottom-banner2 .bottom-banner2 h3 {
    font-size: 1.8em;
    color: #73B20A;
    font-weight: 500;
    text-align: center;
}

.body-bottom-banner2 .bottom-banner2 h3::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    left: 40%;
    translate: -30% 70%;

}

.body-bottom-banner2 .bottom-banner2 h3::after {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/object3.png");
    position: absolute;
    top: 50%;
    right: 40%;
    translate: 15% 70%;

}

/* 中間消息 */
.body-bottom ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 90vw;
    /* border: 1px solid red; */
    margin: 0 auto;

}

.body-bottom ul li {
    margin: 0 auto;
    width: 40vw;
    height: 100%;
    transition: .7s;
}

.body-bottom ul li:hover{
    transform: translateY(-20px);
}

/* 消息1 */
.body-bottom ul .bottom-news1 {
    /* margin-left: 20px; */
    display: flex;
    /* width: 590px; */
    /* width: 100%; */
    margin-bottom: 80px;
    /* border: 1px solid red; */
}

.body-bottom ul .bottom-news1 .news1 {
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
    /* border: 1px solid red; */
}

.body-bottom ul .bottom-news1 a {}

.body-bottom ul .bottom-news1 a img {
    display: block;
    border-radius: 10px;
    width: 20vw;
}

.body-bottom ul .bottom-news1 .news1 .news1-bar {
    display: flex;
    margin-bottom: 20px;

}

.body-bottom ul .bottom-news1 .news1 p {
    font-size: 1em;
    color: #1F4321;
    line-height: 1.6;
}

.body-bottom ul .bottom-news1 .news1-bar p:nth-child(1) {
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news1 .news1-bar p:nth-child(2) {
    width: 75px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news1 p:nth-child(3) {
    color: #517C09;
    /* margin-top: 20px; */
}

/* 消息2 */

.body-bottom ul .bottom-news2 {
    /* margin-left: 20px; */
    display: flex;
    /* width: 590px; */
    margin-bottom: 80px;
    /* border: 1px solid red; */
}

.body-bottom ul .bottom-news2 .news2 {
    padding-left: 20px;
    padding-top: 20px;
}

.body-bottom ul .bottom-news2 a {}

.body-bottom ul .bottom-news2 a img {
    display: block;
    border-radius: 10px;
    width: 20vw;
}

.body-bottom ul .bottom-news2 .news2 .news2-bar {
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news2 .news2 p {
    font-size: 1em;
    color: #1F4321;
    line-height: 1.6;
}

.body-bottom ul .bottom-news2 .news2-bar p:nth-child(1) {
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news2 .news2-bar p:nth-child(2) {
    width: 95px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news2 p:nth-child(3) {
    color: #517C09;
    /* margin-top: 20px; */
}

/* 消息3 */

.body-bottom ul .bottom-news3 {
    /* margin-left: 20px; */
    display: flex;
    /* width: 590px; */
    margin-bottom: 80px;
    /* border: 1px solid red; */
}

.body-bottom ul .bottom-news3 .news3 {
    padding-left: 20px;
    padding-top: 20px;
}

.body-bottom ul .bottom-news3 a {}

.body-bottom ul .bottom-news3 a img {
    display: block;
    border-radius: 10px;
    width: 20vw;
}

.body-bottom ul .bottom-news3 .news3 .news3-bar {
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news3 .news3 p {
    font-size: 1em;
    color: #1F4321;
    line-height: 1.6;
}

.body-bottom ul .bottom-news3 p:nth-child(1) {
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news3 p:nth-child(3) {
    color: #517C09;
    /* margin-top: 50px; */
}

/* 消息4 */

.body-bottom ul .bottom-news4 {
    /* margin-left: 20px; */
    display: flex;
    /* width: 590px; */
    margin-bottom: 80px;
}

.body-bottom ul .bottom-news4 .news4 {
    padding-left: 20px;
    padding-top: 20px;
}

.body-bottom ul .bottom-news4 a {}

.body-bottom ul .bottom-news4 a img {
    display: block;
    border-radius: 10px;
    width: 20vw;
}

.body-bottom ul .bottom-news4 .news4 .news4-bar {
    display: flex;
    margin-bottom: 20px;
}

.body-bottom ul .bottom-news4 .news4 p {
    font-size: 1em;
    color: #1F4321;
    line-height: 1.6;
}

.body-bottom ul .bottom-news4 .news4-bar p:nth-child(1) {
    width: 55px;
    height: 31px;
    background-color: #326E48;
    color: white;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news4 .news4-bar p:nth-child(2) {
    width: 95px;
    height: 31px;
    background-color: #3E7922;
    color: white;
    margin-left: 10px;
    text-align: center;
    line-height: 31px;
}

.body-bottom ul .bottom-news4 p:nth-child(3) {
    color: #517C09;
    /* margin-top: 50px; */
}

/* 最新消息按鈕 */
.body-mid-bottom2 {
    display: flex;
    /* justify-content: center; */
    width: 100px;
    margin: 0 auto;
    margin-bottom: 70px;
    /* border: 1px solid red; */
}

.body-mid-bottom2 a {
    text-decoration: none;
    height: 150px;
}

.body-mid-bottom2 .bottom1 {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #94E30F;
    border-radius: 50%;
}

/* -----hover */
.body-mid-bottom2:hover>a>.bottom2 {
    transform: translate(53px, -97px) rotate(-360deg);
}

/* --------- */
.body-mid-bottom2 .bottom2 {
    width: 90px;
    height: 90px;
    border: 2.5px solid #517C09;
    border-radius: 50%;
    transform: translate(3px, -97px);
    transition: 1s;
}

.body-mid-bottom2 .bottom2 p {
    color: #517C09;
    font-family: arial;
    text-align: center;
    font-size: 18px;
    padding: 22px;
    line-height: 1.2;
}

/* 底層回到最上物件 */
.bottom-object {
    text-align: center;
    width: 100%;
}

.bottom-object .bottom-obj6 {
    position: relative;
    text-decoration: none;
    width: 300px;
    margin: 0 auto;
}

.bottom-object .bottom-obj6 img {
    display: block;
    margin: 0 auto;
}

/* -----hover------ */
.bottom-object .bottom-obj6:hover p {
    color: white;
}

/* ------------- */
.bottom-object .bottom-obj6 p {
    font-size: 24px;
    font-weight: bold;
    color: #517C09;
    position: absolute;
    top: 45px;
    left: 124px;
    transition: 0.8s;
}

.bottom-object .bottom-obj7 {}

.bottom-object .bottom-obj7 img {
    display: block;
    width: 100%;
}

/* ----footer---- */
.footer {
    background-image: url("../img/footer.jpg");
    display: block;
    /* height: 482px; */
    width: 100%;
    /* height: 100%; */
    /* width: 99vw; */
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .footer-top {
    position: relative;
    justify-content: center;
    display: flex;
    /* transform:translate(-200px); */
    /* border: 1px solid blue; */
}

/* 左邊logo區塊 */
.footer-top .main-left {
    /* position: absolute;
    top: 10%;
    left: 20%; */
    margin-left: -200px;
    margin-top: 150px;
    text-align: center;
    /* border: 1px solid red; */
}

.footer-top>.main-left>a>img {
    margin-bottom: 20px;
    width: 8vw;
}

.footer-top .main-left .main-left-icon {
    display: flex;
    /* border: 1px solid red; */
}

.main-left-icon a {
    display: block;
    overflow: hidden;
    width: 3vw;
    /* height: 50px; */
    /* margin: 0 auto; */
}

.main-left-icon a img {
    display: block;
    width: 2vw;
    margin: 0 auto;
}

/* -----hover------ */
.main-left-icon img:hover {
    filter: drop-shadow(50px 0 0 #94E30F);
    margin-left: -44px;
}

/* -------------- */

.footer-top .main-left .main-left-icon img {
    /* padding: 10px; */
}

/* 右邊導覽列 */
.footer-top .main-right {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.footer-top .main-right ul {}

/* 品牌故事 */
.main-right1 {}

.main-right1::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right1 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right a {
    font-size: 1vw;
}

.main-right1 a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 最新消息 */
.main-right2 {
    margin-left: 40px;
}

.main-right2::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right2 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right2 a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 所有商品 */
.main-right3 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.main-right3 :nth-child(1)::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right3 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right3 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    display: block;
}

/* 門市資訊 */
.main-right4 {
    margin-left: 40px;
}

.main-right4::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right4 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right4 a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 線上購物 */
.main-right5 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.main-right5 :nth-child(1)::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
}

/* -----hover */
.main-right5 a:hover {
    color: #94E30F;
}

/* ------ */

.main-right5 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    display: block;
}

/* 底層文字 */
.footer-bottom {

    /* border: 1px solid red; */
    width: 100%;
    /* margin-bottom: 20px; */
}

.footer-bottom p {
    color: white;
    text-align: center;
    font-size: 0.8vw;
    letter-spacing: 2px;
    padding: 20px 0;
    line-height: 1.2;
    /* border: 1px solid blue;    */
}
/* rwd */
.rwd-footer{
    display: none;
}

@media screen and (max-width: 414px) {

    /* 導覽列 */
    .header{
        width: 100vw;
    }

    .nav-top{
        width: 100vw;
        height: 10vh;
        background-image: linear-gradient(0deg, #2e6603 0%, #1E380D 30%, #0F1A11 100%);
    }
    /* 導覽列左邊 */
    .nav1{
       /* flex-direction: column; */
    }
    .nav1 li:nth-child(4){
        display: block;
        margin-right: 300px;
        /* border: 1px solid red; */
    }
    .nav1 li{
        display: none;
    }
    .nav1 li a{
        font-size: 12px;
    }
    /* 導覽列滑動選單 */
    .nav-rwd{
        display: block;
        /* display: none; */
        /* border: 1px solid red; */
        background-color: #C5E4A6;
        position: absolute;
        top: 90px;
        left: -1000px;
        transition: all 1s;
    }
    .nav-rwd li{
        width: 100vw;
        margin: 25px 0;
        /* margin: 0 auto; */
        text-align: center;
    }
    .nav-rwd li a{
        text-decoration: none;
        color: #517C09;
        border-bottom: 1px solid #73B20A;
        font-size: 16px;
    }
    /* 導覽列右邊 */
    .nav2{}
    .nav2 li{}
    .nav2 li a{
        width: 37px;
    }
    .nav2 li a img{}

    /* 漢堡 */
    .nav3{
        width: 10vw;
        /* display: flex; */
        /* display: block; */
        /* border: 1px solid red; */
        position: absolute;
        top: 38px;
        right: 0;
    }

    .button1{
        display: block;
        width: 20px;
        height: 1px;
        background-color: white;
        /* border: 1px solid red; */
        margin-bottom: 5px;
        position: absolute;
        top: 0;
        transition: all .8s;
    }
    .button2{
        display: block;
        width: 20px;
        height: 1px;
        background-color: white;
        margin-bottom: 5px;
        position: absolute;
        top: 5px;
    }
    .button3{
        display: block;
        width: 20px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 10px;
        transition: all .8s;    
    }
    .button1.close {
        display: block;
        transform: rotate(-225deg);
        top: 5px;
    }
    .button3.close {
        display: block;
        transform: rotate(225deg);
        top: 5px;
    }

    .close{
        display: none;
    }
    .open{
        left: 0;
        opacity: 1;
        transition: 1s;
    }

    .banner1{
        margin-top: 80px;
    }
    .h2-banner1{
      overflow: hidden;
    }
    .h2-banner1 img{
        /* width: 100vw; */
        /* height: 100%; */
        height: 350px;
        translate: -200px;
        width: auto;
    }
    .h2-banner1 .h2-banner{
        /* width: 44vw; */
        width: 60vw;
        position: absolute;
        /* top: 54px; */
        top: 97px;
        right: 0;
    }
    .h2-banner .span1{
        margin-bottom: 10px;
        font-size: 1.5em;
    }
    .h2-banner .span1::before{
        height: 52px;
        width: 5px;
        position: absolute;
        top: 0;
        left: 20px;
    }
    .h2-banner .span2{
        font-size: 1em;
    }
    .h2-banner .span2::after{
        height: 52px;
        width: 1px;
        position: absolute;
        top: 0;
        right: -10px;
    }

    /* 期間限定區塊 */

    /* 第二個插件 */
    .body-top-banner2{
        padding-top: 80px;
    }
    .body-top-banner2 .banner2{
        padding-bottom: 55px;
    }
    .body-top-banner2 .banner2 h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .body-top-banner2 .banner2 h1::before{
        content: "";
        display: block;
        width: 30px;
        height: 1px;
        /* border: 1px solid red; */
        position: absolute;
        top: 20%;
        left: 25%;
    }
    .body-top-banner2 .banner2 h1::after{
        content: "";
        display: block;
        width: 30px;
        height: 1px;
        /* border: 1px solid red; */
        position: absolute;
        top: 20%;
        right: 25%;
    }
    .body-top-banner2 .banner2 h3{
        font-size: 20px;
    }
    .body-top-banner2 .banner2 h3::before{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -400% -100%;
    }
    .body-top-banner2 .banner2 h3::after{
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        translate: 290% -100%;
    }
    /* 第三個插件 */
    .body-top ul .obj{
        width: 30px;
        position: absolute;
        top: 40%;
        right: -45px;
    }
    .body-top ul li{
        margin: 0 30px;
    }
    .body-top .banner3 img {
        width: 80vw;
    
    }
    .body-top .banner4 img {
        width: 80vw;
    
    }
    .body-top .banner5 img {
        width: 80vw;
    
    }


    /* 熱門商品區塊 */
    /* 第一個插件 */
    .body-mid-banner2{
        padding-top: 50px;
    }
    .body-mid-banner2 .mid-banner2{
        width: 100%;
        padding-bottom: 60px;
    }
    .body-mid .body-mid-banner2 .mid-banner2 h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .body-mid .body-mid-banner2 .mid-banner2 h1::before{
        width: 30px;
        height: 1px;
        /* border: 1px solid red; */
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .body-mid .body-mid-banner2 .mid-banner2 h1::after{
        width: 30px;
        height: 1px;
        /* border: 1px solid red; */
        position: absolute;
        top: 10%;
        right: 10%;
    }
    .mid-banner2 h3{
        font-size: 20px;
    }
    .mid-banner2 h3::before{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -400% -110%;
        background-size: cover;
    }
    .mid-banner2 h3::after{
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        translate: 290% -110%;
        background-size: cover;
    }
    /* 中間商品滑頁 */
    .body-mid ul li a p{
        font-size: 1em;
        height: 100px;
        padding: 0 10px;
    }
    /* 底圖物件 */
    .object3 img{
        width: 125vw;
        translate: 15% -140%;
    }
    /* 最新消息頁 */
    .body-bottom-banner2{
        padding-top: 57px;   
    }
    .body-bottom-banner2 .bottom-banner2{
        padding-bottom: 50px;
    }
    .body-bottom-banner2 .bottom-banner2 h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .body-bottom-banner2 .bottom-banner2 h1::before{
        width: 30px;
        height: 1px;
        top: 43%;
        left: 25%;
    }
    .body-bottom-banner2 .bottom-banner2 h1::after{
        width: 30px;
        height: 1px;
        top: 43%;
        right: 25%;
    }
    .body-bottom-banner2 .bottom-banner2 h3{
        font-size: 20px;
    }
    .body-bottom-banner2 .bottom-banner2 h3::before{
        width: 20px;
        height: 20px;
        background-size: cover;
        top: 48%;
        left: 32%;
    }
    .body-bottom-banner2 .bottom-banner2 h3::after{
        width: 20px;
        height: 20px;
        background-size: cover;
        top: 48%;
        right: 32%;
    }
    /* 最新消息 */
    .body-bottom ul li{
        width: 100%;
        flex-direction: column;
    }
    .body-bottom ul .bottom-news1{
        margin-bottom: 50px;
    }
    .body-bottom ul .bottom-news2{
        margin-bottom: 50px;
    }
    .body-bottom ul .bottom-news3{
        margin-bottom: 50px;
    }
    .body-bottom ul .bottom-news4{
        margin-bottom: 50px;
    }
    .body-bottom ul .bottom-news1 a img{
        width: 90vw;
    }
    .body-bottom ul .bottom-news2 a img{
        width: 90vw;
    }
    .body-bottom ul .bottom-news3 a img{
        width: 90vw;
    }
    .body-bottom ul .bottom-news4 a img{
        width: 90vw;
    }
    /* footer */
    .footer{
        display: none;
    }
    .footer-top .main-left{
        margin-top: 0;
        margin-left: 0;
        width: 100vw;
    }
    .footer-top .main-left .main-left-icon{
        justify-content: center;
    }
    .footer-top .main-right{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 50px;
    }
    .rwd-footer{
    background-image: url("../img/bg01.jpg");
    display: block;
    /* height: 482px; */
    width: 100%;
    /* height: 100%; */
    /* width: 99vw; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    }
    .main-left-icon a{
        width: 9vw;
    }
    .main-left-icon a img{
        width: 6vw;
    }
    .footer-top>.main-left>a>img{
        width: 20vw;
        margin-top: 20px;
    }
    .main-right1{
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .main-right2{
        margin-bottom: 20px;
    }
    .main-right3{
        margin-bottom: 20px;
    }
    .main-right4{
        margin-bottom: 20px;
    }
    .main-right a{
        width: 120px;
        font-size: 1.3em;
        /* margin-bottom: 20px; */
    }
    .main-right3 a{
        margin-bottom: 0;
    }
    .main-right1::after{
        width: 65px;
    }
    .main-right2::after{
        width: 65px;
    }
    .main-right3 :nth-child(1)::after{
        width: 65px;
    }
    .main-right4::after{
        width: 65px;
    }
    .main-right5 :nth-child(1)::after{
        width: 65px;
    }
    .footer-bottom p{
        padding: 20px 30px;
        font-size: 0.8em;
    }
}